body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffe0a3;
    margin: 0;
    padding:0;
    background-image: url("./assets/REKA23_bakgrunn.png");
    background-attachment: fixed;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFE0A3;
}

a {
    text-decoration: none !important;
    color: none;
}

h1,
h2,
h3 {
    display: block;
    width: fit-content;
    padding: 0.2em;
    text-align: center;
    background: #f81752;
    box-shadow: -5px 8px 0 0 #c62700;
    border-radius: 5px;
    margin: 0.5em;
}

h1 {
    font-size: 2em;
}

p {
    margin: 0 auto;
    text-align: center;
}

.home-link {
    top:0;
    left:0;
    display: inline;
    position: fixed;
    width: 128px;
    height: auto;
    margin-top: 0.75em;
    margin-left: 1em;
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFE0A3;
    border: 3px solid #FFE0A3;
    background: #ff6923;
}

.home-link:hover {
    transform: scale(1.1);
}

/* navbar under */
.nav-ikon {
    display: none;
    position: fixed;
    /* position: -webkit-sticky; */
    top: 0;
    right: 0;
    margin: 0.75em;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 3px solid #FFE0A3;
    background: #ff6923 url("./assets/burgerIkon.svg") no-repeat center;
    cursor: pointer;
    z-index: 999;
}

.nav-check {
    display: none;
}

.nav-check:checked+.nav-ikon {
    background-image: url("./assets/kryss.svg");
}


.navbar {
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.75em;
}

.nav-ul {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em;
    margin-top: 5em;
    list-style: none;
    width: 100%;
}


.nav-button {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0.75em;
    padding: 0.5em;
    border: 3px solid #FFE0A3;
    background: #ff6923;
    border-radius: 0.75rem;
    width: fit-content;
}

.nav-button a {
    text-decoration: none;
    color: #ffe0a3;
}

.nav-button:hover {
    transform: scale(1.1);
}

.content {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.link-button {
    display: block;
    width: fit-content;
    color: #ffe0a3;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.75em;
    padding: 0.5em;
    border: 3px solid #FFE0A3;
    background: #ff6923;
    border-radius: 50% 20% / 10% 40%;
    cursor: pointer;
    z-index: 999;
}

.link-button:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    body {
        background-image: url("./assets/REKA23_bakgrunn_mobil.png");
    }
}
