
.subcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: fit-content;
    padding: 2em;
    box-shadow: -2px 4px 0 0 #c62700;
    background: #f81753e0;
    border-radius: 5px;
    overflow: auto;
    margin:1em;

}
.programL21Img, .programS21Img, .programM21Img {
    max-width: 50vw;
    height: auto;
}
.kart21Img{
    max-width: 50vw;
    height: auto;
}

.remaMerchImg{
    max-width: 50vw;
    height: auto;
}
@media only screen and (max-width: 768px) {
    .subcontent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75vw;
        height: fit-content;
        padding: 2em;
        box-shadow: -2px 4px 0 0 #c62700;
        background: #f81753e0;
        border-radius: 5px;
        overflow: auto;
        margin:1em;
    
    }
    .programL21Img, .programS21Img, .programM21Img {
        max-width: 70vw;
        height: auto;
    }
    .kart21Img{
        max-width: 70vw;
        height: auto;
    }
}