.subcontent{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: fit-content;
    padding: 2em;
    box-shadow: -2px 4px 0 0 #c62700;
    background: #f81753e0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.lineup_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lineup_text1{
    padding:0;
    margin:10px;
    display: block;
    border:3px solid white;
    font-family: 'Bevan';
    font-size: 3em;
    /* margin: 0.1em; */
    font-weight:bolder;
    text-transform: uppercase;
    transition-property: color;
    background-image: url("assets/shrimp-cherry.gif");
    background-position: center;
    background-size: contain;
    background-repeat: round;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
/* 
    font-family: 'Bevan';font-size: 22px;
    text-transform: uppercase;
    font-size:3em; */
.lineup_text2{
    padding:0;
    margin:10px;
    border:3px solid white;
    display: block;
    font-family: 'Bevan';
    font-size: 3em;
    /* margin: 0.1em; */
    font-weight:bolder;
    text-transform: uppercase;
    transition-property: color;
    background-image: url("assets/shrimp-eating.gif");
    background-position: center;
    background-size: contain;
    background-repeat: round;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.lineup_text:hover{
    transform: scale(1.2);
}
.switch_wrap{
  z-index: 2;
}
/* slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6923;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffe0a3;;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffe0a3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffe0a3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;


  }
  
  .slider.round:before {
    border-radius: 50%;
    background-image: url('./assets/shrimp_emoji.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
@media only screen and (max-width: 768px) {
    .subcontent{
        width: 75vw;
    }
}